.service-item {
  text-align: left;

  > p {
    margin: 0;
  }

  .icon {
    margin: 0;
    width: 60px;
    height: 60px;
    color: #ff9800 !important;
    background: -moz-linear-gradient(
      -45deg,
      rgba(255, 152, 0, 0.15) 0%,
      rgba(255, 152, 0, 0.01) 100%
    ) !important;
    background: -webkit-linear-gradient(
      -45deg,
      rgba(255, 152, 0, 0.15) 0%,
      rgba(255, 152, 0, 0.01) 100%
    ) !important;
    background: linear-gradient(
      135deg,
      rgba(255, 152, 0, 0.15) 0%,
      rgba(255, 152, 0, 0.01) 100%
    ) !important;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    -khtml-border-radius: 60px !important;
    border-radius: 60px;

    .fa {
      display: block;
      font: normal normal normal 14px/1 FontAwesome;
      line-height: 60px;
      text-align: center;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .fa-front:before {
      content: "\f13b";
      font-size: 24px;
    }

    .fa-back:before {
      content: "\f121";
      font-size: 24px;
    }
  }

  .name {
    margin: 10px 0 5px 0;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.85);
    font-weight: 500;
    text-transform: none;
  }

  .desc {
  }
}
